body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: gainsboro;
}

.title {
    font-size: 2rem;
    view-transition-name: title;
}

.image {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    view-transition-name: main-image;
}

.link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: blue;
}

/* Ensure the transition effect is visible */
::view-transition-old(main-image),
::view-transition-new(main-image),
::view-transition-old(title),
::view-transition-new(title) {
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    mix-blend-mode: normal;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
}