/* To have a cross-document view transition between two documents, 
both participating pages need to opt-in to allowing this. 
This is done with the @view-transition at-rule in CSS. 
Source: https://developer.chrome.com/docs/web-platform/view-transitions/cross-document#cross-document_view_transitions_are_opt-in
*/
@view-transition {
    navigation: auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: gainsboro;
}

.title {
    font-size: 2rem;
    view-transition-name: title;
}

.image {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    view-transition-name: main-image;
}

.link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: blue;
}


@keyframes slide-out-up {
    to { transform: translateY(-60px); }
}

@keyframes slide-in-up {
    from { transform: translateY(+60px); }
}

@keyframes fade-in {
    from { opacity: 0; }
  }

@keyframes fade-out {
    to { opacity: 0; }
}

::view-transition-old(main-image) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-up;
}

::view-transition-new(main-image) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-up;
}


/* Ensure the transition effect is visible */
::view-transition-old(main-image),
::view-transition-new(main-image),
::view-transition-old(title),
::view-transition-new(title) {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    mix-blend-mode: normal;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}